*.Rproj.user
*.Rproj
*.here
*.DS_Store
*.RData
*.Rhistory


src/*_cache
src/*_files
src/.ipynb_checkpoints

data/raw/
data/01.preprocessed
data/SparseCCA
docs/
figures/
bsub_jobs/

*.png
*.rds
*.pdf
.Rproj.user


